<p id="notice"><%= notice %></p>

<h1>Academic Programs</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="col-md-1">Title</th>
      <th class="col-md-1"># Courses</th>
    </tr>
  </thead>

  <tbody>
    <% @majors.each do |major| %>
      <tr>
        <td><%= link_to major.title, major_path(major) %></td>
        <td><%= major.courses.count %> related <%= 'course'.pluralize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
