<h1>Your Profile</h1>

<p>
  <strong>Your name:</strong> <%= current_user.firstname %> <%= current_user.lastname %>
</p>
<p>
  <strong>Your email:</strong> <%= current_user.email %>
</p>
<p>
  <strong>Faculty?</strong> <%= current_user.faculty? %>
</p>