<% content_for :hero_head do %>
  <h1>All Courses</h1>
<% end %>

<% content_for :hero_lead do %>
  <p class="lead">
    All courses for all academic programs. To add a course, visit an academic program and add a course to a requirement area.<br/>
    You can view the full list of pre-requisite courses by viewing (clicking) the individual course.
  </p>
<% end %>

<% content_for :content do %>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="col-md-1">Title</th>
      <th class="col-md-1">Description</th>
      <th class="col-md-1">Pre-requisites</th>
      <th class="col-md-1">Relevant AOCs</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course_path(course) %></td>
        <td><%= course.description %></td>
        <td><%= course.immediate_prereq.title if course.immediate_prereq %></td>
        <td><%= course.all_majors_as_string %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>