<h1>New Course</h1>

<%= render 'form', course: @course %>

<% if params[:major] %>
  <%= link_to 'Back to AOC', major_path(params[:major]) %>
<% else %>
  <%= link_to 'All AOCs', majors_path %>
<% end %>
